html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.4;
  @extend %rubik-400;
  color: $color-text-default;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--big {
    max-width: 1800px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.logo {
  display: block;

  &__img {
    object-fit: contain;
  }
}

.btn {
  padding: 14px 17px;
  background-color: $bgc-btn;
  @extend %dmsans-400;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  border: none;
  outline-color: transparent;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}

.btn {

  &:focus {
    outline-color: #000;
  }

  &:hover {
    background-color: $bgc-btn-hover;
    color: $color-text-default;
  }

  &:active {
    border-color: #000;
  }
}

.title {
  @extend %dmsans-700;
  color: $color-title;
  text-align: center;
  font-size: 36px;
  line-height: 1.4;

  // @media (max-width: 550px) {
  //   font-size: 32px;
  // }

  @include r($w575) {
    font-size: 32px;
  }

}

.mixitup-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  // @media (max-width: 550px) {
  //   flex-direction: column;
  // }

  @include r($w575) {
    flex-direction: column;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 18px;

    // @media (max-width: 550px) {
    //   margin-right: 0;
    //   margin-bottom: 10px;
    // }

    @include r($w575) {
      margin-right: 0;
      margin-bottom: 10px;
    }

  }

  &__btn {
    font-size: 16px;
    @extend %dmsans-700;
    color: $color-title-products;
    line-height: 1.2;
    text-align: center;
    background-color: transparent;
    //border: none;
    border: 1px solid transparent;
    outline: 1px solid transparent;
    cursor: pointer;
    transition: color 0.5s;

    &:focus {
      outline-color: #000;
    }

    &:hover {
      color: $color-title-products-hover;
    }

    &:active {
      border-color: #000;
    }


    // @media (max-width: 550px) {
    //   padding: 10px 0;
    // }

    @include r($w575) {
      padding: 10px 0;
    }
  }
}

.address {
  &__item {
    display: block;
    margin-bottom: 18px;

    &:hover {
      color: #000;
    }

    span {
      text-transform: uppercase;
    }

    // @media (max-width: 550px) {
    //   margin-bottom: 5px;
    // }

    @include r($w575) {
      margin-bottom: 5px;
    }

  }
}