html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.7;
  @extend %rubik-400;
  color: $color-text-default;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--big {
    max-width: 1800px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.logo {
  display: block;
}

.btn {
  padding: 14px 17px;
  background-color: $bgc-btn;
  @extend %dmsans-400;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  border: none;
  outline-color: transparent;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}

.btn:hover {
  background-color: $bgc-btn-hover;
  color: $color-text-default;
}

.title {
  @extend %dmsans-700;
  color: $color-title;
  text-align: center;
}

.mixitup-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  &__btn {
    font-size: 16px;
    @extend %dmsans-700;
    color: $color-title-products;
    line-height: 1.2;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: transparent;
    cursor: pointer;
    transition: color 0.5s;

    &:hover,
    &--active {
      color: $color-title-products-hover;
    }
  }
}


// .products {
//   &__item:hover .product-card__nav {
//     display: flex;
//   }
// }

.address {
  &__item {
    display: block;
    margin-bottom: 17px;
    &:hover {
      color: #000;
    }
  }
}