$color-default: #436372;
$color-menu: #436372;
$color-title: #243f4d;
$color-text-default: #7b7b7b;
$bgc-block: #fef7f0;
$bgc-block-slide: #fcd7b6;
$bgc-btn: #a3bbc8;
$bgc-btn-hover: #459ece;
$color-text-hover: #000;
$color-footer-title: #1f2044;
$color-title-information: #414141;
$color-title-products: #8b8b8b;
$color-products-price: #a3bbc8;
$color-title-products-hover: #191919;
// $bgc-products: #fefefe;
$color-user-nav-link: #a3bbc8;
$color-user-nav-link-hover: #fff;


%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

%dmsans-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

// %transition-link {
//   transition: color 0.5s, font-weight 0.5s;
// }

// %transition-link-props {
//   color: #000;
//   font-weight: 500;
// }