.articles-partners {
  padding: 50px 0 50px;
}

.articles {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }

  &__title {
    font-size: 36px;
    line-height: 1.3;
  }

  &__link {
    color: #262626;
    font-size: 16px;
    @extend %dmsans-700;
    padding-right: 25px;
    position: relative;

    &::after {
      content: '';
      width: 6px;
      height: 11px;
      background-image: url('../images/icons/icon-to-right.svg');
      position: absolute;
      top: 7px;
      right: 5px;
    }
    &:hover {
      @extend %text-shadow;      
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.partners {
  background-color: #fef7f0;
  padding-top: 250px;
  margin-top: -185px;
  padding-bottom: 85px;
}

.partners-slider {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 0;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;

    img {
      object-fit: cover;
      margin: 0 auto;
    }
  }
}