.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #ececec;
  border-bottom: 2px solid #ebebeb;
  padding: 25px 0;

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__link-img {
    max-width: 76px;
    width: 100%;
    margin-right: 20px;
  }

  &__img {
    width: 76px;
    height: 76px;
    object-fit: cover;
  }

  &__info-box {
    padding: 15px 0;
  }

  &__link-title {
    @extend %rubik-500;
    font-size: 18px;
    line-height: 1.4;
    color: $color-text-focus;
    margin-bottom: 12px;
  }

  &__position {
    color: #666666;
  }

  &__tags,
  &__social {

    span {
      color: $color-text-focus;
      margin-right: 20px;
    }
  }

  &__tags {
    margin-bottom: 10px;
  }

  &__tags-link {
    &:focus {
      outline: 1px solid #000;
    }

    &:hover {
      color: #333;
    }

    &:active {
      color: #999;
    }

  }

  &__social {
    display: flex;
  }
}

.social {

  &__list {
    display: flex;
  }

  a {
    margin-right: 20px;
    filter: invert(68%) sepia(0%) saturate(98%) hue-rotate(210deg) brightness(94%) contrast(94%);

    &:focus {
      outline: 1px solid #000;
    }

    &:hover {
      filter: invert(0%) sepia(100%) saturate(7407%) hue-rotate(344deg) brightness(82%) contrast(95%);
    }

    &:active {
      filter: invert(61%) sepia(14%) saturate(0%) hue-rotate(137deg) brightness(96%) contrast(85%);
    }

  }

  &__icon {
    &--facebook {
      width: 9px;
      height: 16px;
    }

    &--twitter {
      width: 15px;
      height: 12px;
    }

    &--instagram {
      width: 14px;
      height: 14px;
    }

    &--google {
      width: 18px;
      height: 12px;
    }
  }
}