.blog-page {
  padding: 120px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__items {
    max-width: 830px;
    width: 100%;
    padding-bottom: 70px;
  }

  &__item:not(:last-child) {
    margin-bottom: 50px;
  }


  &__content {
    .pagination {

      justify-content: start;
    }
  }





  &__aside {
    max-width: 270px;
    width: 100%;
  }

}