.design-card {
  max-width: 370px;
  width: 100%;
  height: 245px;
  position: relative;
  border: 1px solid transparent;
  transition: transform 0.5s border-color 0.5s;

  @include r($w1199) {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #f8f8f8;
  }

  &__link-item {
    @include r($w1199) {
      height: 245px;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;

    @include r($w1199) {
      height: 245px;
    }
  }

  &__title {
    max-width: 180px;
    margin-bottom: 20px;
    color: $color-title-products-hover;
    font-size: 20px;
    line-height: 1.2;
    position: absolute;
    top: 40px;
    left: 35px;

    @include r($w1199) {
      top: 15px;
    }
    @include r($w991) {
      max-width: 100%;
    }

    @include r($w575) {
      max-width: 100%;
      font-size: 18px;
    }
  }

  &__type {
    position: absolute;
     top: 100px;
     left: 35px;
    @extend %dmsans-700;
    color: #a3bbc8;

    @include r($w1199) {
      top: 65px;
    }

    @include r($w991) {
      top: 50px;
    }

    @include r($w767) {
      top: 60px;
    }
  }

  &:hover {
    transform: scale(1.05);    
  }
}