.design-card {
  max-width: 370px;
  width: 100%;
  height: 245px;
  position: relative;
  border: 1px solid transparent;
  transition: transform 0.5s border-color 0.5s;

  @media (max-width: 1200px) {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #f8f8f8;
  }

  &__link-item {
    @media (max-width: 1200px) {
      height: 245px;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;

    @media (max-width: 1200px) {
      height: 245px;
    }
  }

  &__link-title {
    position: absolute;
    top: 40px;
    left: 35px;

    @media (max-width: 400px) {
      top: 20px;
    }
  }

  &__title {
    max-width: 180px;
    margin-bottom: 20px;
    color: $color-title-products-hover;
    font-size: 20px;
    line-height: 1.2;

    @media (max-width: 400px) {
      max-width: 100%;
      font-size: 18px;
    }
  }

  &__type {
    position: absolute;
    top: 100px;
    left: 35px;
    @extend %dmsans-700;
    color: #a3bbc8;

    @media (max-width: 400px) {
      top: 55px;
    }
  }

  &:hover {
    transform: scale(1.1);
    border-color: #ccc;
  }
}