.design-video {
  padding: 50px 0 70px;
}
.design {
  padding: 100px 0 0;
  margin-bottom: 110px;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px 30px;
  }

  &__item {
    max-width: 370px;
    width: 100%;
    max-height: 245px;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__mixitup-nav {
    margin-bottom: 110px;
  }

}

.video {
  max-width: 1920px;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  &__inner {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}