.footer {
  padding: 80px 0 35px;
  font-size: 14px;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 1px solid #dae4e9;
  }

  &__col {
    &--contact {
      max-width: 200px;
      width: 100%;
      margin-right: 100px;
    }

    &__col--form {
      max-width: 270px;
      width: 100%;
    }

  }

  &__logo {
    display: block;
    margin-bottom: 25px;
  }

  &__nav {
    width: 145px;
    margin-right: 155px;
  }

  &__title {
    @extend %dmsans-700;
    color: $color-footer-title;
    font-size: 16px;
    line-height: 2.8;
    text-transform: uppercase;
    margin-bottom: 17px;
  }

  &__link {
    display: block;
    margin-bottom: 14px;

    &:hover {
      color: #000;
    }
  }

  &__text {
    margin-bottom: 32px;
  }

  &__form {
    &--input {
      max-width: 170px;
      width: 100%;
      background-color: $bgc-block;
      border: none;
      padding: 11px 10px 11px 15px;
      border-bottom: 2px solid transparent;
      margin-right: -5px;

      &::placeholder {
        color: #234969;
        font-size: 12px;
      }

      &:focus {
        border-bottom: 2px solid #000;
        outline: transparent;
      }
    }

    &--btn {
      padding: 13px 15px;

      &:hover {
        background-color: #ccc;
      }

      &:focus {
        outline: 1px solid #ccc;
      }
    }
  }

  &__bottom {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {

    .menu {
      &__link {
        padding: 5px 14px;
        display: block;

        &:hover {
          color: #000;
        }
      }

      &__item {
        position: relative;

        &:not(:last-child) {
          margin-right: 0;

          &::after {
            content: '';
            width: 1px;
            height: 16px;
            background-color: #7b7b7b;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
          }
        }
      }
    }
  }
}