.info {
  &__inner {
    display: flex;
    align-items: stretch;
    background-color: $bgc-block;

  }

  &__item {
    width: 33.33%;
    padding: 45px 150px;
    position: relative;

    &:not(:last-child) {
      border-right: 1px solid #e8e4df;
    }
  }

  &__box {
    max-width: 315px;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: left 10px;
    

    &--support {
      background-image: url('../images/icons/icon-support.svg');
    }

    &--delivery {
      background-image: url('../images/icons/icon-truck.svg');
    }

    &--card {
      background-image: url('../images/icons/icon-card.svg');
    }
  }

  &__title {
    margin-left: 80px;
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 2.2;
    color: $color-title-information;
  }

  &__text {
    max-width: 215px;
    width: 100%;
    margin-left: 80px;
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 1.9;
    color: #585858;
  }
}

.products {
  padding: 70px 0;
  // background-color: $bgc-products;

  &__title {
    font-style: 36px;
    line-height: 1;
    color: #191919;
    text-align: center;
    margin-bottom: 35px;
  }

  // &__filter-btn {
  //   // display: flex;
  //   // justify-content: center;
  //   // align-items: center;
  //   margin-bottom: 80px;
  // }

  &__mixitup-nav {
    margin-bottom: 80px;
  }

  // &__btn {
  //   font-size: 16px;
  //   @extend %dmsans-700;
  //   color: $color-title-products;
  //   line-height: 1.2;
  //   text-align: center;
  //   background-color: transparent;
  //   border: none;
  //   outline: transparent;
  //   cursor: pointer;
  //   transition: color 0.5s;

  //   &:hover,
  //   &--active {
  //     color: $color-title-products-hover;
  //   }
  //}

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }

  &__item {
    max-width: 270px;
    width: 100%;    
    margin-right: 30px;
    margin-bottom: 40px;
    &:hover .product-card__nav {      
      z-index: 1;
    }
  }

  .mixitup-control-active {
    color: $color-title-products-hover;
  }
}