.product-card {
  max-width: 270px;
  width: 100%;
  max-height: 380px;
  background-color: #fff;
  border-radius: 10px;  
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;
  padding-bottom: 35px;

  &__img-box{
    height: 290px;
    overflow: hidden;
    margin-bottom: 10px;
    padding-top: 25px;
  }

  &__img {
    margin: 0 auto 50px;
    object-fit: cover;
    flex-grow: 1;
  }

  &__title {
    font-size: 16px;
    @extend %dmsans-500;
    color: $color-title;
    line-height: 2.5;
    text-align: center;
    margin-bottom: -7px;
    @include line-clamp(1);    
  }

  &__price {
    font-size: 16px;
    @extend %dmsans-700;
    color: $color-products-price;
    line-height: 2.5;
    text-align: center;
  }

  &__nav {
    position: absolute;
    left: 0;
    right: 0;
    width: 168px;
    height: 46px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    bottom: 167px;    
    z-index: -1;
    transition: z-index 0.5s;
  }

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__link {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    path {
      fill: $color-user-nav-link;
      transition: fill 0.5s;
    }

    &:hover {
      background-color: $color-user-nav-link;

      path {
        fill: $color-user-nav-link-hover;
      }
    }
  }
}
