.related {
  //padding-bottom: 100px;

  &__title {
    text-align-last: left;
    margin-bottom: 60px;
  }
}

.related-slider {
  position: relative;
  //padding-top: 40px;
}

.slick-prev,
.slick-next {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: -100px;
  right: 0;
  width: 46px;
  height: 46px;
  border: 2px solid #edf1f4;
  outline: transparent;

  &:focus {
    outline-color: #000;
  }

  &:focus-within {
    border-color: #a3bbc8;
  }

  &:hover {
    color: $color-title-products-hover;
  }

  &:active {
    border-color: #000;
  }
}

.slick-prev {
  right: 50px;

  &:before {
    content: '';
    width: 22px;
    height: 9px;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../../images/icons/icon-arrow-left.svg');
  }
}

.slick-next {
  &:before {
    content: '';
    width: 22px;
    height: 9px;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../../images/icons/icon-arrow-right.svg');

  }
}

.slick-next {
  // border-color: #a3bbc8;
  //border-color: red;
}

.slick-arrow {}