.terms-conditions {
  padding: 115px 0 0;

  @include r($w575) {
    padding-top: 50px;
  }

  &__title {
    @extend %rubik-500;
    font-size: 24px;
    line-height: 1.7;
    color: $color-title;
    text-align: left;
    margin-bottom: 25px;

    @include r($w575) {
      text-align: center;
      font-size: 20px;
      line-height: 1.4;
    }
  }

  &__list,
  &__item,
  &__text {
    margin-bottom: 60px;
  }

  &__list {
    list-style-type: decimal-leading-zero;
    margin-left: 33px;
  }

  &__item {
    margin-bottom: 20px;
    line-height: 1.9;

    @include r($w575) {
      margin-bottom: 10px;
      line-height: 1.4;
    }
  }

  &__text {
    line-height: 1.9;

    @include r($w575) {
      line-height: 1.4;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}