.team {
  padding: 120px 0 70px;

  @include r($w991) {
    padding-top: 75px;
  }

  @include r($w575) {
   padding-bottom: 35px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include r($w991) {
      display: block;
    }
  }

  &__content {
    max-width: 300px;
    width: 100%;

    @include r($w991) {
      max-width: 100%;
      margin-bottom: 40px;
    }
  }

  &__title {
    text-align: left;
    margin-bottom: 20px;

    @include r($w575) {
     text-align: center;
    }
  }

  &__text {
    line-height: 1.9;
    color: $color-title;
    line-clamp: 3;
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 30px;

    @include r($w767) {
      grid-gap: 25px;
    }

    @include r($w575) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.team-card {
  max-width: 370px;
  width: 100%;
  height: 380px;
  box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  position: relative;

  @include r($w991) {
    max-width: 100%;
  }

  &__link {
    width: 100%;
    cursor: pointer;
  }

  &__img {
    width: 100%;
    height: 325px;
    object-fit: cover;
  }

  &__info-box {
    max-width: 320px;
    width: 100%;
    padding: 30px 25px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;

    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__name {
    @extend %dmsans-700;
    font-size: 22px;
    line-height: 1.2;
    color: $color-default;
    margin-bottom: 10px;
  }

  &__position {
    color: #565872;
  }
}