.feedback {
  &__title {
    font-size: 24px;
    line-height: 1.3;
    color: $color-default;
    margin-bottom: 40px;
  }

  &__box-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__wrap {
    width: 400px;
    height: 50px;
    position: relative;    

    &:after {
      content: '';
      width: 18px;
      height: 16px;
      position: absolute;
      top: 21px;
      right: 20px;
      background-repeat: no-repeat;
      filter: invert(61%) sepia(5%) saturate(9%) hue-rotate(69deg) brightness(98%) contrast(95%);
    }

    &--name {
      &:after {
        background-image: url('../images/icons/icon-feedback-user.svg');

        path {
          fill: #999;
        }
      }
    }

    &--email {
      &:after {
        background-image: url('../images/icons/icon-feedback-envelope.svg');
      }
    }

    &--textarea {
      max-width: 830px;
      width: 100%;
      height: 120px;
      margin-bottom: 40px;

      &:after {
        background-image: url('../images/icons/icon-feedback-comment.svg');
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 15px 20px;

    &::placeholder {
      color: #999;
      font-size: 16px;
    }

    &:focus {
      outline: #000;
    }

    &:hover {
      border-color: $bgc-btn;

      .feedback__input {
        color: #333;
      }

      .feedback__wrap {
        &::after {
          filter: invert(10%) sepia(83%) saturate(0%) hue-rotate(176deg) brightness(91%) contrast(76%);
        }
      }
    }

    &:active {
      color: $color-text-active;
      border-color: $color-text-active;
    }
  }

  &__textarea {
    display: block;
    width: 100%;
    height: 120px;
    padding: 18px 20px;
    border: 1px solid #e5e5e5;
    resize: none;
    //margin-bottom: 40px;

    &:focus {
      outline: #000;
    }

    &:hover {
      border-color: $bgc-btn;

      .feedback__textarea {
        color: #333;
      }
    }

    &:active {
      color: $color-text-active;
      border-color: $color-text-active;
    }

  }

  &__btn {
    text-transform: uppercase;
    padding: 17px 35px;
  }
}